.adBox{
    margin:50px auto;
    margin-bottom:0px;
    transition:all 0.3s linear;
}
.leaderBoardAd,
.squareBoxAd{
    margin:0 auto;
    display:flex;
    justify-content: center;

}
@media (max-width:768px){
    .leaderBoardAd{
        display:none;
    }
}
@media(min-width:768px){
    .squareBoxAd{
        display:none;
    }
}