h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 3.2rem;
}

h3 {font-size: 2.4rem;}

.globalContainer {margin-bottom: 50px;}

.countryStats,
.globalStatsContainer{
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: center;
        div {
            min-width: 180px;
            padding: 20px;
            background-color: #f7f7f7;
            margin: 0 20px;
        }
        p {
            margin-top: 6px;
            font-size: 2rem; 
        }
        p:not(:last-of-type) {
            font-size: 2rem;
            line-height: 3rem;
        }
        span {
            color: #5562b6;
            font-size: 3rem;
            font-weight: 700;
    }
}

@media (max-width: 768px) {    
    .globalStatsContainer { 
        justify-content: space-between;
            div { 
                margin: 0;
            }
            div:nth-of-type(2) {
                margin: 0 20px;
        }
    }
}

@media (max-width: 740px) {  
    .globalStatsContainer {
        flex-direction: column;
        align-items: center;
            div {width: 250px;}
            div:nth-of-type(2) {
                margin: 20px 0;
            }
    }
}

form[name="globalForm"] {
    font-size: 1.8rem; 
    label {
        color: #868686;
        font-weight: 600;
        padding: 2px 0;
        margin-right: 20px;
        border-bottom: 1.5px solid transparent;
        cursor: pointer;
        transition: all 0.2s; 
    } 
    label:hover,
    label:focus,
    input:checked + label {
        color: black;
        border-bottom: 1.5px solid black;
    }
}

select,
option {
    width: 250px;
}

.chartSection {
    background-color: #f3f3f3;
    padding: 50px 0;
}

.chartHeader{
    text-align: center;
}

.graphContainer,
.chartContainer {
    background-color: white;
    border: 1px solid #e2e2e2;
    position: relative; 
    height: 450px;  
    width: 600px;
    margin: 0 auto;
}

@media (max-width: 768px) {    
    .chartContainer {
        width: 100%;
    }
}

@media (max-width: 480px) {    
    .chartContainer {
        height: 400px;
    }
} 

.countryContainer {
    margin-top: 50px; 
    h3 {
        font-weight: 600;
        margin-bottom: 10px;
            span {
                color: rgb(16, 118, 165);
                font-weight: 700;}
    } 
    form{margin-bottom: 20px;}
}

.countryContainerContent {
    text-align: center;
    h3 {font-size: 2.8rem;}
}

.countryPopulation {
    font-size: 2rem;
    span {
        font-weight: 600;
    }
}
 
.map{
    height: 500px;
}

@media (max-width: 768px) {   
    .countryContainer {
        flex-direction: column;
    }
    .map,
    .countryContainerContent {
        width: 100%;
    }
    .map{
        height: 400px;
        margin-top: 20px;
    }
}

form[name="countryForm"] {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 50px 0;
     label {
         font-size: 2rem;
         margin-bottom: 5px;
     }
}

select {padding: 10px;}