html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERIC OVERRIDES */
body,
ul,
li,
h1,
h2,
h3,
button,
p {
  margin: 0;
  padding: 0;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  color: #30bbdd;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover, a:focus {
  border-bottom: 1px solid #30bbdd;
}

input,
fieldset {
  border: none;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

body {
  min-width: 350px;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2.2rem;
  color: #333333;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 400px;
  width: 100%;
  padding: 20px 0;
  background-image: url("./../assets/black-textile-41949.jpg");
  background-size: cover;
  background-position: center;
}

header p, header a {
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  margin-top: 15px;
}

.heading {
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
  display: block;
  width: 100%;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

nav ul li {
  cursor: pointer;
  margin: 10px 0;
}

nav ul a {
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 255, 255, 0)), color-stop(35%, #30bbdd));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 65%, #30bbdd 35%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav ul a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 255, 255, 0)), color-stop(35%, #5562b6));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 65%, #5562b6 35%);
}

nav ul a:hover, nav ul a:focus {
  border-bottom: none;
}

.mobile-menu {
  font-size: 2.6rem;
  height: 0;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  overflow: hidden;
}

.mobile-menu + input {
  display: none;
}

.positionFixed {
  position: fixed;
}

.showMenu {
  right: 0px;
}

h1 {
  display: inline;
  font-family: 'Manrope', serif;
  font-weight: 400;
  font-size: 3.4rem;
  letter-spacing: 1.5px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 255, 255, 0)), color-stop(35%, #30bbdd));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 65%, #30bbdd 35%);
  line-height: 1.2;
}

@media (max-width: 796px) {
  .mobile-menu {
    height: auto;
    overflow: visible;
    z-index: 20;
  }
  nav ul {
    background-color: #29283d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 3.2rem;
}

h3 {
  color: black;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.globalContainer {
  margin: 50px auto;
}

.globalStatsContainer {
  text-align: center;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.globalStatsContainer div {
  min-width: 180px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 20px;
}

.globalStatsContainer p {
  margin-top: 6px;
  font-size: 2rem;
}

.globalStatsContainer p:not(:last-of-type) {
  font-size: 2rem;
  line-height: 3rem;
}

.globalStatsContainer span {
  color: #5562b6;
  font-size: 3rem;
  font-weight: 700;
}

.toggleButtons button {
  font-size: 1.8rem;
  color: #868686;
  font-weight: 600;
  padding: 2px 0;
  margin-right: 20px;
  border-bottom: 1.5px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.toggleButtons button:hover, .toggleButtons button:focus {
  color: black;
  border-bottom: 1.5px solid black;
}

.toggleButtons .active {
  color: black;
  border-bottom: 1.5px solid black;
}

.chartSection {
  background-color: #f3f3f3;
  padding: 50px 0;
}

.graphContainer,
.chartContainer {
  background-color: white;
  border: 1px solid #dddddd;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.chartContainer {
  height: 500px;
}

.graphContainer {
  height: 550px;
}

.countryContainerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countryContainer {
  background-color: #f3f3f3;
  padding: 100px 0;
}

.countryContainer h3 {
  margin-bottom: 10px;
}

.countryContainer h3 span {
  color: #30bbdd;
  font-weight: 700;
}

.textContent {
  width: calc(100% - 600px);
  padding-right: 20px;
}

.countryStats {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.countryStats div {
  text-align: center;
  margin: 10px 0;
  padding: 20px 0;
  width: 250px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.countryStats p {
  margin-top: 6px;
  font-size: 2rem;
}

.countryStats p:not(:last-of-type) {
  font-size: 2rem;
  line-height: 3rem;
}

.countryStats span {
  color: #5562b6;
  font-size: 3rem;
  font-weight: 700;
}

.countryPopulation {
  font-size: 2rem;
}

.countryPopulation span {
  font-weight: 600;
}

.mapContainer {
  padding: 50px 0;
}

.map {
  height: 500px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

form label {
  font-size: 2rem;
  margin-bottom: 5px;
}

form select, form option {
  cursor: pointer;
  border: 1px solid #dddddd;
  padding: 10px;
  width: 80%;
}

.links {
  padding: 50px 0;
  font-size: 2rem;
}

.links a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #30bbdd;
}

.links li {
  max-width: 800px;
  height: 150px;
  margin: 20px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #dddddd;
}

.links li:focus, .links li:hover {
  -webkit-box-shadow: 0 0 10px 5px #8181812a;
          box-shadow: 0 0 10px 5px #8181812a;
  cursor: pointer;
}

.links p {
  margin-bottom: 10px;
}

.links img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgContainer {
  width: 200px;
  height: 100%;
}

.linkText {
  width: calc(100% - 200px - 20px);
  padding-left: 20px;
}

@media (max-width: 1120px) {
  .countryContainerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textContent {
    width: 100%;
    text-align: center;
  }
  .countryStats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 50px;
  }
  .countryStats div {
    width: 200px;
  }
  form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  .globalStatsContainer,
  .countryStats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .globalStatsContainer div,
  .countryStats div {
    width: 200px;
    margin: 0;
  }
  .globalStatsContainer div:nth-of-type(2),
  .countryStats div:nth-of-type(2) {
    margin: 15px 0;
  }
  form select {
    width: 100%;
  }
  .chartContainer,
  .graphContainer {
    width: 100%;
  }
  .countryContainerContent {
    width: 100%;
  }
  .textContent {
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  h3 {
    font-size: 2.4rem;
  }
  .links {
    font-size: 1.6rem;
    text-align: center;
  }
  .links li {
    height: auto;
    margin: 30px 0;
  }
  .links a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .linkText,
  .imgContainer {
    width: 100%;
  }
  .imgContainer {
    height: 200px;
  }
  .linkText {
    padding: 30px 10px;
  }
}

@media (max-width: 480px) {
  .globalStatsContainer,
  .countryStats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .globalStatsContainer div,
  .countryStats div {
    width: 100%;
  }
  .graphContainer {
    height: 450px;
  }
}

@media (max-width: 480px) {
  .graphContainer {
    height: 450px;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  color: white;
  background-color: #29283d;
}

@media (max-width: 480px) {
  footer {
    font-size: 1.4rem;
  }
}
